{% extends 'fantasy/base2.html' %}
{% block main%}
<div class="main-header" style="padding-bottom: 70px; background-color: white;">
  <div class="row">
    <div class="col-sm-12">
      <h1>Draft</h1>
    </div>
  </div>
</div>
<div class="main-body" id="draft-height">
  <div id="left-side">
    <h5 style="padding-left: 12px;">Overall</h5>
    <div id="overall">
      {% for player in rankings %}
      <div id="overall_{{ player.ranking }}">
        {{ player.ranking }}. <a href="javascript:add_player('{{player.player.name}}')">{{ player.player.name }} {{ player.player.position }}<br></a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="right-side">
    <h5 style="padding-left: 80px;">Roster</h5>
    <div id="QB_starter">
      QB<span id="QB_starter_span"></span><br>
    </div>
    <div id="RB_starter">
      RB<span id="RB_starter_span"></span><br>
    </div>
    <div id="RB2_starter">
      RB<span id="RB2_starter_span"></span><br>
    </div>
    <div id="WR_starter">
      WR<span id="WR_starter_span"></span><br>
    </div>
    <div id="WR2_starter">
      WR<span id="WR2_starter_span"></span><br>
    </div>
    <div id="TE_starter">
      TE<span id="TE_starter_span"></span><br>
    </div>
    <div id="DST_starter">
      DST<span id="DST_starter_span"></span><br>
    </div>
    <div id="bench1">
      BN<span id="bench1_span"></span><br>
    </div>
    <div id="bench2">
      BN<span id="bench2_span"></span><br>
    </div>
    <div id="bench3">
      BN<span id="bench3_span"></span><br>
    </div>
    <div id="bench4">
      BN<span id="bench4_span"></span>
    </div>
  </div>
  <div id="fieldset">
  </div>
  <div id="main-rankings">
    <div class='list'>
      <h6 style="padding-left: 35px;">QB</h6>
        {% for player in rankings %}
          {% if player.player.position == 'QB' %}
          <div id="QB_{{ player.ranking }}">
            <a href="javascript:add_player('{{ player.player.name }}')">{{ player.player.name }}</a>
            <br>
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class='list'>
      <h6 style="padding-left: 35px;">RB</h6>
        {% for player in rankings %}
          {% if player.player.position == 'RB' %}
          <div id="RB_{{ player.ranking }}">
            <a href="javascript:add_player('{{ player.player.name }}')">{{ player.player.name }}</a>
              <br>
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class='list'>
      <h6 style="padding-left: 35px;">WR</h6>
        {% for player in rankings %}
          {% if player.player.position == 'WR' %}
          <div id="WR_{{ player.ranking }}">
            <a href="javascript:add_player('{{ player.player.name }}')">{{ player.player.name }}</a>
              <br>
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class='list'>
      <h6 style="padding-left: 35px;">TE</h6>
        {% for player in rankings %}
          {% if player.player.position == 'TE' %}
          <div id="TE_{{ player.ranking }}">
            <a href="javascript:add_player('{{ player.player.name }}')">{{ player.player.name }}</a>
              <br>
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class='list'>
      <h6 style="padding-left: 35px;">DST</h6>
        {% for player in rankings %}
          {% if player.player.position == 'DST' %}
          <div id="DST_{{ player.ranking }}">
            <a href="javascript:add_player('{{ player.player.name }}')">{{ player.player.name }}</a>
              <br>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
//global variables
playerlist = [];
rankinglist = [];
positionlist = [];
statlist = [];
draft_count = 0;
round = 1;

$(document).ready(function(){
  //copy django template lists to js lists so they can be used in js computation
  {% for pick in rankings %}
    playerlist.push('{{ pick.player.name }}');
    positionlist.push('{{ pick.player.position }}');
    rankinglist.push('{{ pick.ranking }}')
    {% for stat in stats %}
      {% if stat.player.name == pick.player.name %}
        {% if pick.player.position == 'QB' %}
          statlist.push('{{ stat.passing_yards }} passing {{ stat.passing_tds }} TDs');
        {% elif pick.player.position == 'RB' %}
          statlist.push('{{ stat.rushing_yards }} rushing {{ stat.receiving_yards }} receiving {{ stat.rushing_tds|add:stat.receiving_tds }} TDs');
        {% elif pick.player.position == 'WR' %}
          statlist.push('{{ stat.receiving_yards }} yards receiving {{ stat.receiving_tds }} TDs');
        {% elif pick.player.position == 'TE' %}
          statlist.push('{{ stat.receiving_yards }} yards receiving {{ stat.receiving_tds }} TDs');
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  add_player();
  before();
});
//auto picks before user pick, updates available players, calls event listener for user pick
function before(){
    var odd = 11 + parseInt({{ position }}) - 12;
    var even = 12 - parseInt({{ position }})

    if (round % 2 == 0){
      for (i = 0; i < even; i++){
        auto_pick();
      }
    }
    else{
      for (i = 0; i < odd; i++){
        auto_pick();
      }
    }
  //timing issue checks for available players running before auto picks complete tried a promise but never ran correctly
  setTimeout(add_player, 3000);
  draft_player();
}
//auto picks remaining picks in round after user pick then updates round and calls before if not end of draft
function after(){
  var even = 11 + parseInt({{ position }}) - 12;
  var odd = 12 - parseInt({{ position }})

  if (round % 2 == 0){
    for (i = 0; i < even; i++){
      auto_pick();
    }
  }
  else{
    for (i = 0; i < odd; i++){
      auto_pick();
    }
  }
  round++;

  if (round < 12){
      before();
  }
  else{
    alert('Your Draft is complete');
  }
}
//adds player to fieldset/queue area for drafting
function add_player(player ="No Player"){
  var js_player;
  var js_position;
  var js_stat;
  var js_rank;

  $.ajax({
    url: "/update_fieldset",
    dataType: 'json',
    type: 'GET',
    data: {
      'player_list': playerlist,
      'position_list': positionlist,
      'ranking_list': rankinglist,
      'stat_list': statlist,
      'leagueid': "{{ league.id }}"
    },
    success: function(data){
      text = "";
      //update fieldset with highest ranked available players
      for (i = 0; i < data.names.length; i++) {
        text = text.concat(
         `
         <div style="padding-bottom: 15px;">
          <div class="fieldset_names">${data.names[i]} ${data.position[i]}</div>
          ${data.stats[i]}
          <button class="bg-primary fieldset_button" type="button" value="${data.names[i]}" data-ranking="${data.ranking[i]}">Draft</button>
          <br>
          </div>`
        );
      }
      $('#fieldset').html(text);

      if (player === 'No Player')
      {

      }
      else{
        //add user selected player to fieldset
        for (i = 0; i < playerlist.length; i++) {
            if(playerlist[i] == player){
              js_player = playerlist[i];
              js_position = positionlist[i];
              js_stat = statlist[i];
              js_rank = rankinglist[i];
            }
        }

        $('#fieldset').append(
          `<div class="fieldset_names">${js_player} ${js_position}</div>
           ${js_stat}
           <button class="bg-primary fieldset_button" type="button" value="${js_player}" data-ranking="${js_rank}">Draft</button>`
        );
      }
    },
    error: function() {
      alert('there was an error');
    }
  });
}
//changes selected players draft value to true and removes him from available list
function draft_player(){
  $(document.body).on('click', 'button', function(event){
    event.preventDefault();
    name = this.value;
    ranking = this.dataset.ranking;
    $.ajax({
      url: "/drafted_player",
      dataType: 'json',
      type: 'GET',
      data: {
        'name': name,
        'league_id': "{{ league.id }}"
      },
      success: function(data){
        //if some error occurs such as attempting to draft drafted player update available players across page
        if (data.error){
          add_player();
        }
        else{
          //cross out drafted players
          $(`#overall_${ranking}`).html(`<div style="text-decoration: line-through; color: LightGrey;">${ranking}. ${data.name}</div>`);
            $(`#${data.position}_${ranking}`).html(`<div style="text-decoration: line-through; color: LightGrey;">${data.name}</div>`);
            //add players to roster section
            if (data.starting === true){
              value = $(`#${data.position}_starter_span`).html();
              if (value === ''){
                $(`#${data.position}_starter_span`).html(`&nbsp;&nbsp;${data.name}`);
              }
              else{
                $(`#${data.position}2_starter_span`).html(`&nbsp;&nbsp;${data.name}`);
              }
            }
            else{
              updated = false;
              for (i = 1; i < 4; i++){
                if ($(`#bench${i}_span`).html() === ''){
                  if (updated === false){
                    $(`#bench${i}_span`).html(`&nbsp;&nbsp;${data.name}`);
                    updated = true;
                  }
                }
              }
              if (updated === false){
                $('#bench4_span').html(`&nbsp;&nbsp;${data.name}`);
              }
            }
            //call after function to continue draft
            after();
        }
      },
      error: function(){
        alert('there was an error');
      }
    });
  });
}
//auto pick a single player
function auto_pick(){
  $.ajax({
    url: "/auto",
    dataType: 'json',
    type: 'GET',
    data: {
      'league_id': "{{ league.id }}",
      'player_list': playerlist
    },
    success: function(data){
      //cross out drafted player in list
      $(`#overall_${data.ranking}`).html(`<div style="text-decoration: line-through; color: LightGrey;">${data.ranking}. ${data.name}</div>`);
      $(`#${data.position}_${data.ranking}`).html(`<div style="text-decoration: line-through; color: LightGrey;">${data.name}</div>`);
    },
    error: function(){
      alert('there was an error');
    }
  });
}
</script>
{% endblock %}
