{% extends 'fantasy/base2.html' %}
{% block main%}
<div class="main-header">
  <div class="row">
    <div class="col-sm-2">Contest</div>
    <div class="col-sm-2">Level</div>
    <div class="col-sm-2">Prizes</div>
    <div class="col-sm-2">Entries</div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div class="main-body">
  {% for league in leagues %}
      <div class="row">
      <div class="col-sm-2">{{ league.league_type.contest }}</div>
      <div class="col-sm-2">${{ league.league_type.level }}</div>
      <div class="col-sm-2">$ {{ league.league_type.prize }}</div>
      <div id="{{ league.id }}" class="col-sm-2">{{ league.filled }}</div>
      <button class="bg-primary" data-leagueid="{{ league.id }}" data-contest="{{ league.league_type.contest }}" data-level="{{ league.league_type.level }}" type="button">Enter</button>
      </div>
  {% endfor %}
</div>
{% endblock %}

<audio controls preload="none">
  <source src="horse.ogg" type="audio/ogg">
  <source src="horse.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
